In [1]:
import pymongo
import pandas as pd

from glob import glob

In [2]:
#load csvs

xom_data = "../Components/XOM.csv"
trv_data = "../Components/TRV.csv"
pfe_data = "../Components/PFE.csv"
nke_data = "../Components/NKE.csv"
mcd_data = "../Components/MCD.csv"
gs_data = "../Components/GS.csv"
cvx_data = "../Components/CVX.csv"
appl_data = "../Components/AAPL.csv"
axp_data = "../Components/AXP.csv"
ba_data = "../Components/BA.csv"
cat_data = "../Components/CAT.csv"
csco_data = "../Components/CSCO.csv"
dis_data = "../Components/DIS.csv"
dow_data = "../Components/DOW.csv"
hd_data = "../Components/HD.csv"
ibm_data = "../Components/IBM.csv"
jnj_data = "../Components/JNJ.csv"

# Read Purchasing File and store into Pandas data frame

appl = pd.read_csv(appl_data)
xom = pd.read_csv(xom_data)
trv = pd.read_csv(trv_data)
pfe = pd.read_csv(pfe_data)
nke = pd.read_csv(nke_data)
mcd = pd.read_csv(mcd_data)
gs = pd.read_csv(gs_data)
cvx = pd.read_csv(cvx_data)
axp = pd.read_csv(axp_data)
ba = pd.read_csv(ba_data)
cat = pd.read_csv(cat_data)
csco = pd.read_csv(csco_data)
dis = pd.read_csv(dis_data)
dow = pd.read_csv(dow_data)
hd = pd.read_csv(hd_data)
ibm = pd.read_csv(ibm_data)
jnj = pd.read_csv(jnj_data)

jnj.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-01,145.869995,151.190002,141.380005,148.869995,146.908340,150462900
1,2020-02-01,149.419998,154.500000,130.820007,134.479996,132.707962,147291500
2,2020-03-01,134.779999,143.639999,109.160004,131.130005,130.227264,355927400
3,2020-04-01,127.699997,157.000000,125.500000,150.039993,149.007065,234384100
4,2020-05-01,149.619995,153.619995,143.009995,148.750000,147.725952,136207400

In [3]:
# Connect to MongoDB

client = pymongo.MongoClient('localhost',27017)
db = client['stocks'] #access stocks db

In [11]:
# create collections in stocks db
applcollection = db['appl']
xomcollection = db['xom']
trvcollection = db['trv']
pfecollection = db['pfe']
nkecollection = db['nke']
mcdcollection = db['mcd']
gscollection = db['gs']
cvxcollection = db['cvx']
applcollection = db['appl']
axpcollection = db['axp']
bacollection = db['ba']
catcollection = db['cat']
cscocollection = db['csco']
discollection = db['dis']
dowcollection = db['dow']
hdcollection = db['hd']
hkecollection = db['nke']
ibmcollection = db['ibm']
jnjcollection = db['jnj']

In [17]:
# write all df to dictionaries
appl_dt = appl.to_dict("records")
xom_dt = xom.to_dict("records")
trv_dt = trv.to_dict("records")
pfe_dt = pfe.to_dict("records")
nke_dt = nke.to_dict("records")
mcd_dt = mcd.to_dict("records")
gs_dt = gs.to_dict("records")
cvx_dt= cvx.to_dict("records")
axp_dt = axp.to_dict("records")
ba_dt = ba.to_dict("records")
cat_dt = cat.to_dict("records")
csco_dt = csco.to_dict("records")
dis_dt = dis.to_dict("records")
dow_dt = dow.to_dict("records")
hd_dt = hd.to_dict("records")
ibm_dt = ibm.to_dict("records")
jnj_dt = jnj.to_dict("records")

In [18]:
# Insert collections into MongoDB
xomcollection.insert_many(xom_dt)
trvcollection.insert_many(trv_dt)
pfecollection.insert_many(pfe_dt)
nkecollection.insert_many(nke_dt)
gscollection.insert_many(gs_dt)
cvxcollection.insert_many(cvx_dt)
applcollection.insert_many(appl_dt)
axpcollection.insert_many(axp_dt)
bacollection.insert_many(ba_dt)
catcollection.insert_many(cat_dt)
cscocollection.insert_many(csco_dt)
discollection.insert_many(dis_dt)
dowcollection.insert_many(dow_dt)
hdcollection.insert_many(hd_dt)
mcdcollection.insert_many(mcd_dt)
ibmcollection.insert_many(ibm_dt)
jnjcollection.insert_many(jnj_dt)

In [ ]:
# loop to make this efficient later
# stock_files = glob('../Components/*.csv')
# dfs = [pd.read_csv(f) for f in stock_files]
# dfs[0].head()

In [ ]:
# files = xom_data,trv_data,pfe_data,nke_data,mcd_data,gs_data,cvx_data,
# appl_data,axp_data,ba_data,cat_data,csco_data,dis_data,dow_data,
# hd_data,ibm_data,jnj_data]

# collections = [db[x] for x in dfs]
# dicts = [x.to_dict("records") for x in collections]
# collections.insert_many(x for x)